# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Temp
*.tmp
*.TMP

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
/.vs
/Debug
/Release
/x64
/ReleaseTool
/sadll/Debug
/sadll/Release
/sadll/x64/Debug
/sadll/x64/Release
/SaSH/Debug
/SaSH/Release
/SaSH/x64/Debug
/SaSH/x64/Release
/SaSH/translations/qt_zh_CN.qm
/SaSH/translations/qt_zh_TW.qm
/SaSH/crypto.cpp
/SaSH/net/webauthenticator.cpp
/SaSH/net/webauthenticator.h
/.vscode
/build
/SaSH/image/desktop.ini
/SaSH/SaSH.vcxproj.user
/SaSH/SaSH.vcxproj.user
/SaSH/lib/dump
/Win32
/SaSH/memory_leak_report.txt
/deploy/bin/SaSH/Release
/deploy/bin/SaSH/Debug
/deploy/bin/sahook/Release
/deploy/bin/sadll/Release
/deploy/bin/sadll/Debug
